/*
Created by: Tom Molitor
Created on: 12-23-2023

Update History:
| Date          | Author        | Description                                                           |
| ------------- | ------------- | --------------------------------------------------------------------- |
| 12-23-2023    | Tom Molitor   | Created the initial CSS file to work on the CSS Essential Training    |
| 12-26-2023    | Tom Molitor   | Added additional styling based on CSS Essential Training              |
| 01-14-2024    | Tom Molitor   | Added to repo                                                         |
*/

/*
Color Pallete:

    Pallete 1
    #4D5359: Dark Gray
    #6BAA75: Mint Green
    #B56576: Soft Maroon
    #D2D6EF: Hazy Sky
    #FCF7F8: Eggshell White

    Pallet 2
    #1D3557: Dark Blue
    #457B9D: Medium Blue
    #A8DADC: Light Blue
    #F1FAEE: Bluish White
    #E63946: Cherry Ice Cream Red
*/

/********************************
GLOBAL STYLES
********************************/
/*
    https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
:root {
    --mintGreen: #6BAA75;
    --softMaroon: #B56576;
    --creamRed: #E63946;
    --darkBlue: #1D3557;
    --mediumBlue: #457B9D;
    --lightBlue: #A8DADC;
    --hazySky: #D2D6EF;
    --whiteBlue: #F1FAEE;
    --eggWhite: #FCF7F8;
    --darkGray: #4D5359;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* set default to 10px */

}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    background: var(--eggWhite);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
}
.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}
h1, h2, h3, h4 {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 10px 0;
}
h1 {
    font-size: 7rem;
    line-height: 1;
}
h2 {
    font-size: 3.6rem;
    line-height: 1;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 1.8rem;
    margin: 0;
}
ul {
    line-height: 1.5;
    margin-top: 5px;
}

/* links */

a {
    color: var(--mediumBlue);
}

a:hover {
    color: var(--softMaroon);
    text-decoration: none;
}
.btn {
    background: var(--mediumBlue);
    color: var(--eggWhite);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.25rem;
    line-height: 1;
    display: inline-block;
    padding: 7px;
    border-radius: 8px;
}
.btn:hover {
    background: var(--softMaroon);
    color: var(--eggWhite);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.25rem;
    line-height: 1;
    display: inline-block;
    padding: 7px;
    border-radius: 8px;
}
/********************************
HOME
********************************/
.home {
    background: url(/images/bg-home-office-2.avif) no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}
.home .content-background {
   flex: 1 0 auto;
}
.content-bg {
    background-color: var(--eggWhite); 
    opacity: 0.8;
    padding: 30px;
}
@media screen and (max-width: 650px) {
    .home .content-wrapper {
        padding: 10px;
    }
    .content-bg {
        padding: 20px;
    }    
}
/********************************
RESUME
********************************/
.resume header::before {
    background: url(/images/bg-home-office-studio-3.jpg);
    background-size: cover;
    background-position: center;
    content: "";
    display: block;
    height: 375px;
}
.resume-section {
    margin-bottom: 25px;
}
.resume-section h2 {
    border-bottom: 2px dashed var(--lightBlue);
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}
@media screen and (max-width: 1250px) {
    .download-link {
        position: absolute;
    }

}
@media screen and (max-width: 500px) {
    .resume header::before {
        height: 200px;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.6rem;
    }
} 

.project {
    /*border-bottom: 1px solid var(--hazySky);*/
    margin-bottom: 50px;
}
.work-item {
    margin: 30px 0;
}
.work-item .work-details {
    line-height: 1.5;   
}

.work-details p {
    margin: 0;
}

.work-summary p:first-child {
    margin-top: 0;
}

/* .work-summary {
    margin: 0;    
} */


/********************************
RESUME | Profile
********************************/

/********************************
RESUME | Projects
********************************/
@media screen and (min-width: 840px) {
    .project {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }
    .project h3 {
        margin-top: 0;
    }
}
@media screen and (min-width: 670px) and (max-width: 839px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
    .project-item img {
       width: 100%; 
    }
}
@media screen and (max-width: 300px) {
    .project-details img {
        width:100%;
        margin-bottom: 10px;
    }
}

/********************************
RESUME | Work Experience
********************************/
.work-item {
    margin: 30px 0;
}
.work-details p {
    margin: 0;
}

@media screen and (min-width:820px) {
    .work-item {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }
    .work-summary p:first-child {
        margin-top: 0;
    }
}
/********************************
RESUME | Educaton
********************************/
.education-item {
    margin: 30px 0;
}
.education-item p {
    margin: 0;
}


/********************************
FOOTER
********************************/

footer {
    background: var(--darkGray);
    color: var(--eggWhite);
    /* width: 100%; */
}

footer a {
    color: var(--lightBlue);
}

.socials {
    list-style-type: none; /* remove default bullet style */
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}
@media screen and (min-width: 860px){
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 859px){
    footer {
        display: flex;
        padding: 10px;
    }
}